body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgba(56, 231, 12, 0.692), rgba(11, 43, 224, 0.692));
}
h1{
    text-align: center;
}
section#setor{
        color:white;
        background-color: rgba(0, 0, 0, 0.747);
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        box-shadow: -15px 15px 15px  rgb(0, 0, 0);
        width: 400px
}
input{
    margin-top: 25px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0, 0.4);
    background-color: transparent;
    outline: none;
    min-width: 150px;
    font-size: 14pt;
    border-radius:0;
    color: white;
}
button{
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    background-image: linear-gradient(45deg, rgba(56, 231, 12, 0.692), rgba(11, 43, 224, 0.692));
}
a{
    color: cornflowerblue;
}
.fa-eye{
    position: absolute;
    right: 10px;
    margin-top: -30px;
    cursor: pointer;
}