body{
    text-align: center;
    background-color: gray;
}
#gif{
    margin-top: -1450px;
    margin-left: 413px;
}
#botoes{
    margin-top: 1222px;
}
button{
    margin-left: 20px;
    border: none;
    height: 25px;
    width: 70px;
    border-radius: 5px;
}
a{
    color: black;
    text-decoration: none;
}