
body{
    background-color: rgb(170, 153, 127);
}
section#setor{
        background-color: rgb(96, 223, 195);
        padding: 50px;
        text-align: center;
        margin:auto;
        width: 200px;
        border-radius: 10px;
        

}
input{
    margin-top: 10px;
    border-radius: 3px;
}