body{
    background-image: linear-gradient(45deg, blue, red);
    text-align: center;
}
#indisse{
    background-color:rgba(0, 0, 0, 0.411);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
p{
    font-size: 18pt;
    color: white;
}
a{
    color: black;
}
button{
    width: 190px;
    height: 50px;
    box-shadow: 2px 2px 8px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(223, 219, 219);
    border: none;

}
